<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvEJlhdGp2xn7nuVI4dHVm4xpi3UZvFfY</string>
	<key>GCM_SENDER_ID</key>
	<string>455896245296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.electronicsshop</string>
	<key>PROJECT_ID</key>
	<string>electronicsshop-a55df</string>
	<key>STORAGE_BUCKET</key>
	<string>electronicsshop-a55df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455896245296:ios:7a4b1ac5fd1dfb4de7f9f5</string>
</dict>
</plist>